/* styles.css */
body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

body.dark-theme {
    background-color: #343a40;
    color: #ffffff;
}

body.dark-theme .form-control {
    background-color: #495057;
    color: #ffffff;
}

body.dark-theme .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}